  body {
    background-color: whitesmoke;
  }
  
  .letra1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .letra1small {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
  }

  /* clases con media query */

  .titulo {
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #8C52FF;
    background-color: whitesmoke;
    text-align: center;
  }

  .subtitulo {
    /* margin-top: 5px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #8C52FF;
    /* background-color: magenta; */
    text-align: center;
  }

  /* estilos normales (pantalla grande, >1024) */
  .items {
    margin-top: 10px;
    width: 28%;
    margin-left: 36%;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: #8C8C97;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer {
    margin-top: 30px;
    font-style: italic;
    font-size: medium;
    color: #8C52FF;
    text-align: center;
  }

  /* estilos pantalla pequeña (pantalla pequeña, >=1024) */
  @media only screen and (max-width: 1024px) {


    .titulo {
      margin-top: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 25px;
      font-weight: bold;
      color: #8C52FF;
      background-color: whitesmoke;
      text-align: center;
    }

    .subtitulo {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 15px;
      font-weight: bold;
      color: #8C52FF;
      text-align: center;
    }

    .items {
      margin-top: 10px;
      width: 70%;
      margin-left: 15%;
      text-align: center;
      color: white;
      border-radius: 5px;
      background-color: #8C8C97;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .footer {
      margin-top: 40px;
      font-style: italic;
      font-size: small;
      color: #8C52FF;
      text-align: center;
    }

  }

  /* clases sin media query, fijas */

  .itemtitulo {
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 110%;
    color: white;
    text-align: center;
  }

  .itemdato {
    /* margin-top: 5px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 95%;
    color: black;
    text-align: center;
  }

  .itemdato:focus {
    background-color: whitesmoke;
  }

  .boton {
    margin-top: 25px;
    margin-bottom: 15px;
    height: 34px;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #C1AAED;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .logo {
    display: flex;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
